.container.large-12.columns
  .clock.row
    ds-widget-clock(show-analog gmt-offset='currentGmt')

  form.controls.row.collapse(ng-submit='main.updateClock()')
    .medium-10.columns
      input(type='text' required ng-autocomplete ng-model='location' details='locationDetails' options='autocompleteOptions' placeholder='Enter a city or country')
    .medium-2.columns.text-center
      button.button(type='submit' value='submit' id='submit') Update

  .details(ng-show='locationAddress')
    .time {{date | date:'H:mm:ss'}}
    .date {{date | date:'fullDate'}} (GMT {{gmt}})
    .location Time in {{locationAddress}}
